name: versus
host: 0.0.0.0
port: 3000

alert:
  debug_body: true # Bật để xem log payload nhận được

  lark:
    enable: true
    webhook_url: "https://open.larksuite.com/open-apis/bot/v2/hook/347c47a8-1896-45bd-b7e8-8444c0260d99"
    template_path: "config/lark_message.tmpl"
